#profile-container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: orange;
  background-image: url(../images/45-degree-fabric-light.png);
}

#profile-container h2 {
  font-weight: 300;
}

#profile-container h2 span {
  font-weight: 700;
}
