main {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

#new-tweet {
  display: none;
}

.counter-container {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: Bungee, sans-serif;
}

textarea {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-bottom: 4px solid #545149;
  min-height: 140px;
  width: 100%;
}

input {
  background-color: #4056a1;
  color: white;
  font-family: Bungee, sans-serif;
}
